<!doctype html>
<html>
    <head>
        {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/static/style.css"/>
        <title>{% block title %}{% endblock %} - LOH2 trans</title>
        {% endblock %}
    </head>
    <body onload="{% block onload %}{% endblock %}">
        <div id="header-wrapper">
            <div id="header">
                <div id="header_left">
                    {% block header_left %}{% endblock %}
                </div>
                <div id="header_right">
                    {% block header_right %}{% endblock %}
                </div>
                {% block header %}{% endblock %}
            </div>
        </div>
        <div id="flash-messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div id="">
            <div id="content-wrapper">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>