{% extends "base.html.jinja" %}
{% block title %}Index{% endblock %}

{% block header %}
    <h1>Index</h1>
{% endblock %}

{% block content %}
    <p><a href="{{url_for('search')}}">Search</a></p>
    {% if files %}
        <ul>
        {% for file in files %}
            <li class="index_top_level_item">
                {% if file.folder_items %}
                    {{file.display}}
                    <ul>
                    {% for subfile in file.folder_items %}
                        <li class="index_sub_item">
                            <h1><a href="{{url_for('items', folder_key=file.folder_key, file_name=subfile.display)}}">{{subfile.display}}</a></h1>
                            {%if subfile.note %}<h2>{{subfile.note}}</h2>{%endif%}
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <h1><a href="{{url_for('items', file_name=file.display)}}">{{file.display}}</a></h1>
                {% endif%}
            </li>

        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}