{% extends "base.html.jinja" %}
{% block title %}Translation items - {{file_name}}{% endblock %}

{% block header %}
    <h1>Translation items - {{file_name}}</h1>
{% endblock %}

{% block content %}
    <form>
        <input type="text" name="new_note" value="{{note}}"/>
        <input type="submit" value="Update note"/>
    </form>
    {% if items %}
        <ul class="flow_list">
        {% for item in items %}
            <li class="translation_item_list_item {%if item.translation_done%}translation_done{%elif item.translation_in_progress%}translation_in_progress{%endif%}">
                {% if item.translation_done%}
                    <div class="status_tag">Done</div>
                {% elif item.translation_in_progress %}
                    <div class="status_tag">In progress</div>
                {% endif %}
                <h1 class="translation_item_title"><a href="{{url_for('edit_item', folder_key=folder_key, file_name=file_name, key_str=item.key)}}">{{item.key}}</a></h1>
                <p class="translation_item_original">{{item.original[0]}}</p>
                {%if item.translated %}<hr/><p class="translation_item_translated">{{item.translated[0]}}</p>{%endif%}
            </li>

        {% endfor %}
        </ul>
    {% endif %}

    <p><a href="{{url_for('index')}}">Back</a></p>
{% endblock %}