{% extends "base.html.jinja" %}
{% block title %}Search{% endblock %}

{% block head %}
    {{ super() }}
    <script>
        function search()
        {
            var searchTerm = document.getElementById("search_term").value;
            var apiUrl = "/api/search_units?search_term=" + searchTerm;

            document.getElementById("result_header").innerText = "";

            fetch(apiUrl)
                .then(response => response.ok ? response.json() : Promise.reject(response))
                .then(json => {
                    if (json.length == 0)
                    {
                        document.getElementById("result_header").innerText = "No results for " + searchTerm;
                    }
                    else
                    {
                        var resultItemTemplate = document.getElementById("search_result_item_template")
                        var resultsRoot = document.getElementById('search_results');

                        for (result of json)
                        {
                            var resultItem = resultItemTemplate.content.cloneNode(true);

                            resultItem.querySelector(".search-result-file").innerText = result['document_path'];
                            resultItem.querySelector(".search_result_key_link").innerText = result['key'];
                            resultItem.querySelector(".search_result_key_link").href = "/unit?document_path=" + result['document_path'] + "&key=" + result['key'];
                            resultItem.querySelector(".search-result-extract").innerHTML = result['excerpt'];

                            resultsRoot.appendChild(resultItem);
                        }

                        document.getElementById("result_header").innerText = "Results for: " + searchTerm;
                    }
                })
                .catch(response => window.alert("API call failed: " + response.status + " " + response.statusText));
        }
    </script>
{% endblock %}

{% block header %}
    <h1 id="header_text">Search</h1>
{% endblock %}

{% block content %}
    <input type="text" id="search_term" autofocus/> <button onclick="search();">Search</button>

    <p id="result_header"></p>

    <ul id="search_results" class="flow_list">
    </ul>


    <template id="search_result_item_template">
        <li class="search-result-item">
            <div class="search-result-header-wrapper">
                <p class="search-result-file"></p>
                <h2 class="search-result-key"><a class="search_result_key_link"></a></h2>
            </div>
            <p class="search-result-extract"></p>
        </li>
    </template>

    <p><a href="/">Back</a></p>
{% endblock %}